<section class="amir-section">
    <div class="amir-menu-container">
        <h1 class="amir-title">
           Todo App
        </h1>
      <div class="amir-paragraph ">
          <p>No time let's get 
          </p>
          &nbsp;
       </div>
       <a class="amir-button btn btn-success waves-effect waves-light" href="/todos/add" class="text-white">Started</a>
       {{!-- <button type="button" class="amir-button btn btn-success waves-effect waves-light"></button> --}}
    </div>
</section>